
<% include  ../../helpers/format-date %>
<% include  ../../helpers/format-summary %>

<%
    const collection = 'article';
    //console.log(collection)
    const linkPrefix   = systemConfig.prefixAdmin + `/${collection}/`;
    const forderImage = '/uploads/article/';
                            
%> 


<!-- <h3><%= JSON.stringify(itemsInCategory.length) %></h3> -->
<div class="col-lg-8 post-list">
        <!-- Start single-post Area -->
        <div class="single-post-wrap">
            <div class="feature-img-thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="img-fluid view_post" src="<%=forderImage + itemPost.thumb %>" alt="">
            </div>
            <div class="content-wrap">
                <ul class="tags mt-10">
                    <li><a href="category/<%= itemPost.category.id  %>"><%= itemPost.category.name  %></a></li>
                </ul>
                <a href="#">
                    <h3><%= itemPost.name %></h3>
                </a>
                <ul class="meta pb-20">
                    <li><a href="#"><span class="lnr lnr-user"></span><%-itemPost.created.user_name %></a></li>
                    <li><a href="#"><span class="lnr lnr-calendar-full"></span><%=formatDateHelper(itemPost.created.time) %></a></li>
                    <li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
                </ul>
                <p>
                   <%- itemPost.content %>
                </p>
                
            <!-- <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</blockquote> -->
            
            <div class="navigation-wrap justify-content-between d-flex">
                <a class="prev" href="#"><span class="lnr lnr-arrow-left"></span>Prev Post</a>
                <a class="next" href="#">Next Post<span class="lnr lnr-arrow-right"></span></a>
            </div>
        </div>
        <div class="relavent-story-post-wrap mt-30">
            <h4 class="title">Posts With Category</h4>
            <div class="relavent-story-list-wrap">       
                <% itemsInCategory.forEach((item, index)=>{  %>  
                    <div class="single-relavent-post row align-items-center">
                        <div class="col-lg-5 post-left">
                            <div class="feature-img relative">
                                <div class="overlay overlay-bg"></div>
                                <img class="img-fluid view_post_with_category" src="<%=forderImage + item.thumb %>" alt="">
                            </div>
                            <ul class="tags">
                                <li><a href="#"><%= item.category.name  %></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-7 post-center">
                            <a href="article/<%= item.id %>">
                                <h4><%= item.name  %></h4>
                            </a>
                            <ul class="meta">
                                <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                            </ul>
                            <p class="excert">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
    <!-- End single-post Area -->
</div>